/*
Styling for notices of violation printing only
*/
/* 
    Created on : Apr 25, 2019, 8:20:32 PM
    Author     : Ms. Loretta
*/

.body{
    
}

.nov-container{
    margin: 0px;
    
}

.header{
    
}

.header-image{
    
}

.addressee{
    
    
}

.date-of-record{
    
}

.text-insert{
    
}

.signature{
    
}

.signature-image{
    
}

.violation{
    
    
}

.compliance-date{
    
}

.violation-image{
    
}

.violation-image-header{
    
    
}

p{
    
    
}

.violation-photo-attachments{
    page-break-before: always;
    
}

.violation-photo{
    
}







