/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2017, 7:53:01 AM
    Author     : cedba
*/

/* colors

// original dark blue/green, and orange

COG green: #7fb337
COG red: #a0270f
COG blue: #2d66cd
COG yellow: #e3b73d

// new TCVCOG logo colors

// yellow-ish
#cde162

// skyish blue
#00b5ec

//earthy:
#5a5754


*/

/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/heebo-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Heebo'), local('Heebo-Regular'),
        url('../fonts/heebo-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/heebo-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/heebo-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/heebo-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/heebo-v5-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}

body{
    margin: 0 auto;
    font-family: 'Heebo';
}

/*---------------- HEADERS -------------------*/

h1{
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    color: #5a5754;
    font-weight: normal;
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #5a5754;

    margin-bottom: 20px;

}

h2{
    font-size: 1.4em;
    /* color: #00b5ec;  sky blue*/

    /*darker sky*/
    color: #00637F; 
    font-weight: bold;
}

h3{
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #4F361E;
    font-weight: normal;


}

h4{
    color: darkgray;
    font-style: italic;
}


.logoBox{
    float:left;
    clear:none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;

}

.logoBox h2{
    color: white;
}

.sys-title{
    font-size: 1.3em;
    color: #cde162;
}

.sys-title-sub{
    font-size: 1.1em;
    font-style: italic;
    color: #00b5ec;
}

.report-title{
    font-size: 1.3em;
    font-weight: bold;
    color: #cde162;

}

.report-title-sub{
    font-size: 1.1em;
    color: #00b5ec;
    font-style: italic;

}


.darkFont{
    color:#163F8A;
}

.property-blue{
    color: #03305C;

}

.person-maroon{
    color: #710040;
}

.code-enforcement-orange{
    color: #B36A00;
}

.occupancy-green{

}

.action-request-header{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    padding-left:5px;



}

.action-request-subheader{
    display: block;
    clear: both;
    font-size: 1.1em;

}

.logoBox{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:5px;
}

.logo-image-wrapper{

}





/*************** END HEADERS ****************/

/*********** MENUS and TABS*********************/
.ui-panelmenu-header {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    background-color: #04284A;
    color: green;


}

.tabText{
    color:orange;
}

.menuLabel{
    color:white;

}


/* Main accordion menu on left */
.ui-panelmenu .ui-panelmenu-header a{
    text-shadow: none;
    color:white;
}

/*Case profile coloring */
.ui-tabs-nav li a {
    color: black;
}

.bold-menu-item{
    color:green;
}

.ui-menu .ui-menuitem-text{
    font-weight: bold;

}





/*--------------- ICONS --------------------*/ 

i.material-icons{
    color: #57ACFF;
    width: 100%;
}

.icon-box-centered .material-icons{
    font-size: 250%;
}

/* PrimeFaces icon reset */
.ui-widget .ui-icon.fa, 
.ui-icon.fa {
    background-image: none;
    text-indent: 0px;
    background-repeat: no-repeat;
    display: block;
    overflow: visible;
    text-indent: 0px;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon, .ui-menu .ui-submenu-icon{
    padding-right: 8px;

}

/*
.icon-box-centered{
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    box-sizing: content-box;
    
}*/

.userToolBar-icon{
    font-size: 1.5em;

}

/*used from demo on Mozilla site*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content*/

.icon-container {
    display: grid;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    clear: none;
}

.icon-box-centered {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}


/***************** end icons *******************/


/* ------------LINKS ------------------------- */


a:link{
    text-decoration: none;
    color: #181F36;
}

a:visited{
    color: #181F36;
}

a:hover{
    color:#04284A;
    text-decoration: underline;
}

.sblink{
    text-decoration: none;
    font-size: 11pt;
}

a.sblink:link{
    color: #57ACFF;
}

a.sblink:visited{
    color: #4774A0;
}

a.sblink:hover{
    color:gray;
}




.headerLink{
    font-weight: bold;
    font-size: 11px;
    float:left;
    clear:none;

}


a.headerLink:link {
    color: #57ACFF;
    text-decoration: none;
}

a.headerLink:hover {
    color: white;
    text-decoration: none;
}

a.headerLink:visited {
    color: white;
    text-decoration: none; 
}

a.headerLinks {
    display: inline-block;
    float: left;
}


div.headerLink a:before, a:visited{
    /*color: green;*/


}

/************** END LINKS ******************/


/* ------------------- START PAGE LAYOUT  ------------------- */



.two-column-page-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:5px;

}

.list-column{
    flex-basis:auto;
    flex-shrink: 1;
    min-width: 550px;
    max-width: 550px;
    padding-right:10px;


}

.list-column-persons{
    flex-basis:auto;
    flex-shrink: 1;
    min-width: 600px;
    max-width: 600px;
    padding-right:10px;


}

.object-column{
    flex-basis: auto;
    flex-grow: 1;
    padding-left: 10px;


}

/* **************** END PAGE LAYOUT  *********************/


/* ----------- Printing and reports-------- */

.printing-page-break-before{
    page-break-before: always;

}

.printing-page-break-after{
    page-break-after: always;
}


div.printer-friendly-report .ui-widget-content{
    border: none;

}

.event-ds-box-report{
    font-size: .7em;
    margin: 3px;
    padding: 5px;
    border: thin solid #4774A0;
    background-color: white;
}

.event-list-halfwidth{
    width: 50%;
    border: none;
    vertical-align: top;
}

.report-header-info{
    font-size: small;
    font-family: Heebo;
}

.report-cear-requestbox{
    font-size: .7em;
    padding: 5px;
    background-color: white;
    margin: 15px;
    border: thin solid #4774A0;
    padding: 10px;
    /*    These two attributes are taken from .rowExpansion to see if we can use
        only .outlinedBox divs for the row expansion*/
    white-space: normal;
    overflow-wrap: normal;
}

.ui-widget-content{
    border: none;
}

.cear-request-titlehead{
    font-size: 2em;
    font-weight: bold;
    font-family: Heebo;
}

.reportconfig-header{
    text-align: left;

}
/* *********** end Printing and reports******** */




/* ----------- Horizontal bars: LAYOUT BOXES  (OLD)-------- */



.flex-box-container{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;  

    justify-content: flex-start;

    font-family: 'Heebo', sans-serif;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

}

.flex-box-container-interior{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;

    font-family: 'Heebo', sans-serif;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;

}

.narrow-content-container{
    max-width: 800px;
}

.flexing-box-topbar{
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    height: 100px;
    background-color: #2F2F2F;
}



.flexing-box-sidebar{

    flex-grow: 0;
    flex-basis: 200px;
    flex-shrink: 1;
    background-color: #CECECE;
    padding: 10px;

}

.flexing-box-sessioninfo{

    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    height: 50px;

    background-color: #181F36;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: white;
    font-weight: normal;

}

.flexing-box-pagecontent{


    flex-grow: 1;
    flex-basis: max-content;
    flex-shrink: 1;


    margin-left: 0px;
    padding: 10px;
}

.flexing-box-footer{

    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;

    background-color: #1B1D20;

    color: white;

}

.flexing-box-interior{


    flex-grow: 1;
    flex-basis: 80%;
    flex-shrink: 3;


}

.split-page-panelgrid{
    width: 100%;
}

.split-page-list-side{
    width: 40%;
}

.split-page-manage-side{
    width: 60%;
}




#logoHeader{
    margin-top: 3px;
    color: #FFA35A;
}

.clearFix{
    clear: both;
}

.plainText{
    font-weight: normal;

}

/*this mainContainer class is the containing bins on each user page*/
.mainContainer{
}

.mainContainerDashboard{

    display:block;
}


.primaryContentContainer{

}

.footer{
    font-family: 'Heebo', sans-serif;
    color: grey;
}

.foot{
    height: 100px;
}


p.note{
    font-size: .9em;
    font-style: italic;
}

div.headerLinkCont{
    display: inline-block;
    float: right;
    clear: none;
    /*width: 100px;*/
    height: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;



}

.userToolBar{
    display: block;
    float: right;
    clear: none; 
    height: 90px;
}

.gridTd-splitPage{
    max-width: 600px;
    vertical-align: top;
}


/* *********END MAIN PAGE LAYOUT BOXES ***************/

/* --------- BUSINESS OBJECTS AND STATUS ------------------- */
.mced-status-investigation{
    font-weight: bold;
    color:blue;
}
.mced-status-enforcement{
    font-weight: bold;
    color: blueviolet;

}
.mced-status-citation{
    font-weight: bold;
    color: red;

}
.mced-status-closed{
    font-weight: bold;
    color: black;
}
.mced-status-holding{

}

.status-list{
    list-style-type: none;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 10px;
    margin-top: 0px;

}

i.status-display-icon-i{
    color: inherit;
}

.status-display-container{
    display: flex;
    flex-direction: row;
    flex-basis: auto;

}

.status-display-icon-container{
    width: auto;
    margin-right: 5px;


}

.action-request-icon i.material-icons{
    font-size: 3em;
    display: block;
    margin-right: 15px;
}


.status-display-icon-container i.material-icons{
    font-size: 5em;
}


.status-display-status-list-container{
    flex-grow: 1;
    flex-basis: auto;


}

.status-item{
    font-size: 1em;
    color: gray;
    font-weight: normal;

}

.stage-inactive{
    font-weight: normal;
    color:grey;
}





/* ********* end BUSINESS OBJECTS AND STATUS *******************

/*----------------  TEXT AND SPANS ----------------------------*/


.mono{
    font-family: Heebo;
}

.monospace{
    font-family: monospace;
    font-size: 1.3em;
}

.datum-label{
    font-weight: bold;
}

.ui-label{
    font-weight: bold;
}

.datum-data{

}

.bold {
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.note{
    font-style: italic;
    font-size: 0.8em;
}

.italic{
    font-style: italic;
}

.infoBarData{
    font-size: .9em;
    font-family: Heebo;
    font-weight: normal;
}

.weight-normal{
    font-weight:normal;
}

.logoutput{
    padding: 5px;
    font-size: 0.9em;

}


/***************** CLOSE TEXT AND SPANS ***********************/

/* --------------- SEARCH ---------------------------*/

.search-inputtext{

}




/* --------------- DIVS---------------------------*/

.rowExpansion{
    white-space: normal;
    overflow-wrap: normal;
    text-align: left;
    font-weight: normal;
}

.wrapText{
    white-space: normal;
    overflow-wrap: normal;
    word-break: break-all;
}

.roomy-top-margin{
    margin-top: 15px;
}

.outlinedBox{
    margin: 15px;
    border: thin solid #4774A0;
    padding: 10px;
    background-color: white;
    /*    These two attributes are taken from .rowExpansion to see if we can use
        only .outlinedBox divs for the row expansion*/
    white-space: normal;
    overflow-wrap: normal;
}

.activeObjectBox{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: thin solid #4774A0;
    padding: 5px;
    font-size:small;
    display: inline-block;


}
.compact-violation-list-container{
    margin-top: 5px;

}

.activeObjectBox h4{
    margin-top: 3px;
    margin-bottom: 8px;

}

.publicInfoBundleContainer{
    margin: 15px;
    border: #04284A solid thick;
    padding: 10px;

}




div.headerLinks{
    display: block;
    height:40px;
    width: 100%;
    /*height: 100px;*/
    margin: 10px 10px 10px 10px;
}

.ord-text{
    font-weight: normal;
    font-style: italic;
    font-family: Heebo;
    white-space: normal;
    overflow-wrap: normal;
    padding: 5px;
    line-height: 100%;

}





/*will be deprecated when Adams public pages come online*/
/*control code green box*/
div.ccBox{
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-weight: bold;
    background-color: green;
    border-color: darkgray;
    border-width: 1px;
    text-align: center;
    padding: 15px;
    border-top: 30px;
    border-bottom: 30px;
}


/* ****************** CLOSE DIVS ************************/




/* --------------- IMAGES ---------------------------*/


img{
    display: block;
}

img.header{
    margin-top: 15px;
    margin-bottom: 15px;
}


img.headerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}





/*************** END IMAGES ****************************/



/* ------------------ Primefaces Overrides ----------------------*/


.ui-widget, .ui-widget .ui-widget {
    font-size: 95% !important;
}


.ui-state-hover{

}

/* ****************** END Primefaces Overrides ***********************/


/* ------------------DASHBOARD STYLES ----------------------*/

.bignum{
    font-size: 600%;
    font-weight: bold;
}

.bignum-header{
    font-weight: bold;
}

.mainContainerDashboard{

    display:block;
}





.ui-dashboard-column {
    width:33%;

}

.ui-widget-content{
    /*background-color: gray;*/
}


/*************** END DASHBOARD ****************************/


/* ------------------TABLE STYLES ----------------------*/


.td-dense{
    padding: 1px;
    margin: 0px;
}

.cases-report-citations-2cols{
    width: 50%;
    border: none;
    vertical-align: top;
}


.object-info-box thead{
    text-align: left;
    font-weight: normal;
}

.no-border{
    border: none;

}

.ui-expanded-row-content{
    background-color: #04284A;

}

.spacier-rows{
    height: 150%;

}


table.primeDataTable td{
    font-size: 0.9em;
    white-space: normal;
    word-wrap: normal;
}


table.borders{

}

table.borders {
    border-collapse: collapse;
}

table.borders th, td {
    border: 1px solid black;
    padding: 10px;
}

table.borders th{
    background-color: lightblue;
}

tr.resolved{
    background-color: lightgreen;

}

tr.pending{
    background-color: lightyellow;

}

tr.pastdeadline{
    background-color: lightpink;
}

tr.reinspect{
    background-color: lightpink
}

/*td.gridTd {*/
.gridTd {
    border: none;
    vertical-align: top;
    padding: 7px;
}

.topbottom-lines-left{
    text-align: right;
    border-right: none;
    color: black;
    margin:0;

}

.topbottom-lines-right{
    text-align: left;
    border-left: none;
    color:black;
}


.gridTd-solid-back{
    border:none;
    background-color: rgba(12,12,12,0);
    z-index: 100;
    opacity: 1;
}

.panelGridData{
    border-collapse: collapse;
    margin: 0px;
    border: 1px solid black;
}

td.gridFooter {
    border: none;

}



td.userBarTd{
    align-content: center;
    border: none;

}

td.centeredColumnContent{
    text-align: center;
}

.userBarTd .material-icons{
    margin-left: auto;
    margin-right: auto;
}


.leftalign{
    text-align: left;
}

gridTd-bignum{
}

.gridTd-mccontainer{
    background-color: #181F36;

}

.action-requests-search{
    background-color: bisque;
}


/***********************CLOSE TABLE STYLES**********************/


/*---------------------CHARTS ---------------------------*/

.jqplot-table-legend{
    border: none;
}


/***********************CLOSE CHARTS **********************/



/*---------------------BUTTONS & CONTROLS---------------------------*/

.ui-state-hover{


}

.ui-button-text{
    margin-left: 5px;
}

.full-width{
    width:100%;
}

.hover-none:hover{

    margin: auto;
    background-color: green;

}

/* this styling is for use w/ command button on codeSourceManage.xhtml */
.manButton{
    margin-bottom: 15px;
}

.inline-button{
    margin-left:10px;

}



/* formatting command buttons completeCodeSourceList & codeSourceTable on codeSourceManage.xhtml  */
.buttonOwnLine1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* formatting command buttons for inspectableCodeElementManage.xhtml */
.iceButton{
    margin-top: 10px;
}


.commandButton{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.button-size-small {
    font-size: small;
    font-weight: normal;
}

.cear-actions-button {

}


.buttonOwnLine{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    clear: left;
    /*    color: blue;
        background-color: green;*/
}

.noFill{
    background-color: white;
}

.button-float-right{
    display: block;
    float:right;
}
.sessionInfoButton{
    background: none;

}

.sessionInfoButton span{
    color: white;
}


.link-button{
    display: inline-block;
    background-color:  #007ad9;
    color: white;
    padding: 5px;
    
}

.link-button-container a{
    color:white;
}

/* ****************** CLOSE BUTTON STYLES ********************/




/* -------------------- PROPOSALS AND CHOICES ----------------------- */

.proposal-choice-button{
    margin-top: 5px;

}

.proposal-prophead{
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    float: left;
}

.proposal-description{
    font-style: italic;
    font-size: 0.9em;
}

.proposal-choicehead{
    font-weight: bold;
    font-size: 1.2em;
}

.proposal-metadata-container{
    display: block;
    width: 100%;
}

.proposal-propbuttoncontainer{
    display: block;
    float: right;
}


.proposal-infotable-box{
    display: block;
    width: 100%;
    clear: both;
}

/* ****************** PROPOSALS AND CHOICES ********************/




/* -------------------- INSPECTION AND OCC PERMIT----------------------- */

.field-lock-status-icon-container{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;

}

.occperiod-inspace-info{
    display: block;
    clear: both;

}

.ui-datascroller-item{
    clear:both;
}

.ui-datascroller{
    border: none;
}

.occinsspace-metadata-container{
    display: block;
    width: 100%;
}

.occspace-button-container{
    display: block;
    float: right;
}



i.inspection-pass{
    color: forestgreen;
}

i.inspection-fail{
    color: #B36A00;
}

i.inspection-notinspected{
    color: #1a237e;
}

.occperiod-inspace-header{
    font-size: 1.4em;
    font-weight: bold;
    color: #163F8A;
    margin-bottom: 15px;
    display: block;
    float: left;
}

.occperiod-inelement-header{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    clear:both;
}


.inspection-notinspected{
    color: #1a237e;
    font-weight: bold;

}

.inspection-pass{
    color: forestgreen;
    font-weight: bold;
}

.inspectio-fail{
    color:#B36A00;
    font-weight: bold;
}


.occpermit-borderbox{
    display: block;
    width: 800px;
    border: #00637F double medium;
}

.occpermit-datagrid{


}

.gridTd-permit {
    border: none;
    vertical-align: top;
    padding: 10px;
}


.occpermit-title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.occpermit-titlesub{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}

.occpermit-criticaldata-label{
    display: block;
    clear: right;
    font-weight: bold;
    font-size: 1.2em;

}

.occpermit-criticaldata-value{
    font-size: 1.2em;
}

.occpermit-minordata-label{
    font-size: 1em;

}

.occpermit-minordata-value{
    font-size: 1em;

}

.occpermit-admindata-label{
    font-size: .8em;
    font-weight: bold;
    color: darkgrey;
}

.occpermit-admindata-value{
    font-size: .8em;

}

.occpermit-additionalnotes{

}

.occpermit-muniheader{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/*class given to <h:outputText ... components which are nested in an <hx of some kind*/
.occperiod-periodlabel{
    font-weight: bold;
    color: darkgrey;
    font-size: 1.1em;
}

.occperiod-periodvalue{


}

.occperiod-address{
    font-weight: bold;
    font-size: 1.3em;
}

.occinspection-reportheader{

}



/* ****************** CLOSE INSPECTION AND OCC PERMIT********************/




/* -------------------- MISC --------------------------------- */

.content-align-center{
    text-align: center;
}

.nov-chosen-recipeint{
    margin: 10px;
    font-family: Heebo;
}
.nov-viol-ds{
    border: none;
}


p.footer{
    font-style: italic;
    size: 0.8em;
    color: #e3b73d;
}

/* UI Controls Styling*/

.inputText{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.outputLink{
    display: block;
    margin-bottom: 10px;
}


.textArea{
    width: 400px;
    margin-bottom: 10px;
    min-height: 120px;
}

select.selectOneListbox{   
    margin-bottom: 10px;
}

span.uiLabel{
    display: block;
    clear: left;
    margin-bottom: 10px;
    font-weight: bold;

}

input.selectBooleanCheckbox{
    display: inline-block;
    float: left;
}

div.checkBoxLabel{
    display: block;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.requested-action-status {
    font-size: 1.3em;
    font-weight: bold;
}

.action-needed{
    color:red;

}

.action-complete{
    color:blue;
}

.nov-builder-halfwidth{
    width: 50%;
    border: none;
    vertical-align: top;
}

.preview-violations-box{
    display: block;
    width:1000px;
}

.newpasswd-cont{


}

.newpsswd-lead{


}

.newpasswd-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newpsswd{
    font-size: 3em;
    color: darkslateblue;
    font-weight: bold;
}


/* ******************** CLOSE MISC ********************************/



/* Error Styling */

.msgWarn{
    color: darkgoldenrod;
}

.msgInfo{
    color: blue;
}

.msgFatal{
    color: orange;
}

.msgError{
    color: orangered;
}

/* Property Profile Styling */

table.cases{
    border-collapse: collapse;
    border: 1px solid black;

}

table.cases th{
    text-align: left;
    border: 1px solid blue;
    background-color: green;
}

table.cases td{
    text-align: left;
    border: 1px solid blue;
    padding: 5px;
}

tr.caseClosed{
    background-color: #66ff66;
}

tr.caseOpen{
    background-color: #9999ff;
}


/* fieldset */

.ui-fieldset-toggleable .ui-fieldset-legend{
    background-color: white;
    font-weight: normal;

}

.ui-fieldset-legend{
    background-color: white;
    font-weight: normal;

}

/* tab views */
.ui-tabs-nav{
    color:black;
    background-color: green;
}


/* Documentation styling */
.docContainer{
    max-width: 800px;

}

.pageContentsList{
    list-style-type: none;
}


.pageContentsList li{
    font-size: 1.2em;
    margin-bottom: 10px;
}


/* ******************* TOP NAVIGATION BAR *************************/

/* Top nav bar - responsive */
@media screen and (max-width: 640px) {

    .navbar .nav_containner{
        display: block;
    }

    .navbar .nav_containner .nav_content{
        display: none;
    }

    .navbar .navbar_toggler_button{
        float: right;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .responsive {
        position: relative;
    }

    .responsive .nav_containner .nav_content{
        float: none;
        display: block;
        text-align: left;
        border-bottom: 1px solid #E6E7E8;
    }

    .responsive .nav_containner .nav_active{
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    }

    .responsive .nav_containner .subnav_containner{
        top:0px;
        left:200px;
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }

    .responsive .nav_containner .subnav_containner .subnav_content{
        border-top: 0px solid #E6E7E8;
        border-bottom: 1px solid #E6E7E8;
    }

}

/* Top nav bar */
.navbar{
    min-height: 40px;
    color: white;
    background-color: #6C6D70;
    position: relative;
    z-index: 10;
}

.nav_containner{
    display: inline-flex;
    margin-right: -4px;
    position: relative;
}

.nav_containner:hover {
    color: #6C6D70;
    background-color: #CECECE;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.nav_content{
    height:40px;
    padding: 10px 10px;
    min-width: 200px;
    float: left;
    display: block;
    text-align: center;
}

.nav_containner:hover .subnav_containner{
    display: block;
}

.navbar_toggler_button{
    font-size: 25px; 
    height:40px;
    padding: 5px 5px;
    display: none;
    cursor: pointer;
}

.navbar_toggler_button:hover{
    color: #00B4ED;
}

.subnav_containner{
    display: none;
    position: absolute;
    top:40px;
    width: 200px;
    z-index: 15;
}

.subnav_content{
    float: left;
    height: 40px;
    width: 100%;
    padding: 10px 10px;
    border-top: 1px solid #2F6381;
    color: #6C6D70;
    background-color: #CECECE;
}

.currentinfo{
    float: left;
    font-size: 14px;
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left:1px solid #2F6381;
    border-right:1px solid #2F6381;
}

.nav_font i{
    padding-right: 5px;
}

.subnav_content:hover{
    background-color:#00B4ED;
    color:#000000;
}

.nav_active{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.nav_button{
    float: right;
    font-size: 14px;
    height: 40px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.subnav_containner_stable{
    min-height: 40px;
    position: relative;
    font-family: inherit;
    color:#6C6D70;
    background-color: #EEEEEE;
    width: 100%;
    z-index: 3;
}

.nav_display{
    display:inline-block;
    z-index: 2;
}
.nav_hide{
    display: none;
}

.navsub_active{
    color:#000000;
    border-top: 2px solid #6C6D70;
}

/* ******************* SIDE NAVIGATION BAR *************************/

/* Side nav bar */
.sidebar {
    min-height: 95vh;
    height: 100%;
    width: 35px;
    position: absolute;
    left: 0;
    background-color: #6C6D70;
    transition: 0s;
}

#maincontent{
    margin-left: 40px;
}

.toolSidebarCollapse{
    height: 40px;
    color: #E6E7E8;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #E6E7E8;
}

.toolSidebarExpansion{
    height: 40px;
    color: #E6E7E8;
    font-size: 25px;
    display:none;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #E6E7E8;
    padding-right: 15px;
    align-items: flex-end;
}

.toolSidebarTitle{
    padding-left: 10px;
    position: absolute;
    align-self: flex-start;
    font-size: 15px;
}

.toolSidebarCollapse i,.toolSidebarExpansion i{
    cursor: pointer;
}

.toolSidebarCollapse i:hover,.toolSidebarExpansion i:hover{
    color: #00B4ED;
}

.sidebar_item{
    color: white;
    display: initial;
}

.sidebar_firstmenu_item{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #E6E7E8;
}

.sidebar_firstmenu_item i{
    padding-left: 10px;
    width: 25px;
}

.sidebar_firstmenu_font{
    padding-left: 20px;
    font-size: 14px;
    display: none;
    cursor: pointer;
}

.sidebar_firstmenu_item:hover{
    border-bottom: 1px solid #00B4ED;
}

.sidebar_firstmenu_font_active{
    background-color: #6C6D70;
}

.sidebar_secondmenu{
    display: none;
}

.sidebar_secondmenu_item{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #2F6381;
    color: #6C6D70;
    background-color: #CECECE;
}

.sidebar_secondmenu_item:hover{
    background-color:#00B4ED;
    color:#000000;
}

.sidebar_secondmenu_item i{
    width: 25px;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar_secondmenu_font{
    padding-left: 20px;
    font-size: 16px;
    display: none;
    cursor: pointer;
}

/* ****************** PRIMEFACE STYLING RESETING *******************/

body .ui-panel .ui-panel-titlebar{
    background-color: #6C6D70;
    border: 1px solid #6C6D70;
}
body .ui-dialog .ui-dialog-titlebar{
    background-color: #6C6D70;
    border: 1px solid #6C6D70;
}

body .ui-messages .ui-messages-info{
    background-color: #99C221;
}

body .ui-selectonemenu{
    width: 100%;
}

body .ui-inputfield{
    width: 100%;
}

body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi){
    font-family: 'heebo';
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number{
    width: 3.5em;
    height: 3.5em;
    padding-top: 1em;
}
body .ui-calendar.ui-trigger-calendar{
    display: inline-flex;
}

body .ui-calendar.ui-trigger-calendar .ui-button{
    background-color: #6C6D70;
    border: 1px solid #6C6D70;
}

body .ui-fileupload-cancel{
    background-color: #6C6D70;
    border: 1px solid #6C6D70;
}

body .ui-fileupload-choose{
    background-color: #6C6D70;
    border: 1px solid #6C6D70;
}

body .ui-panel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}


/*body .ui-button{
    background-color: #00B4ED;
    border: 1px solid #00B4ED;
}*/


/*button*/

.selectButton{
    min-width: 70px;
}
.editButton{
    min-width: 60px;
}





.MuniReadTableOutputLabel{
    width: 100%;
    border-bottom: 1px black solid;
    background-color: #F0F0F0;
    padding-top: 10px;
}
.MuniReadTableInputText{
    width: 100%;
}
body .ui-inputfield{
    font-size: 100%;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer{
    background-color: #6C6D70;
    border:1px solid #6C6D70;
}

#muniManage-panel .ui-panelgrid .ui-panelgrid-content{
    border: none;
}                                                             

/* feeManage.xhtml page (shares many rules with muniManage.xhtml) */

.FeeReadTableOutputLabel{
    width: 100%;
    border-bottom: 1px black solid;
    background-color: #F0F0F0;
    padding-top: 10px;
}
.FeeReadTableInputText{
    width: 100%;
    padding-top: 10px;
}

#feeManage-panel .ui-panelgrid .ui-panelgrid-content{
    border: none;
} 

/* **************** PUBLIC NAV CONTAINER PAGE **********************/

.public-container{

}

.public-menu-container{
    width: 25%;
    min-height: 100vh;
    background-color:#2F2F2F;
    position: fixed;
}

.public-menu-content{
    height: 100vh;
    background-color:#2F2F2F;
    padding-top: 75px;
}

.public-menu-logo{
    padding-bottom: 30%;
    width: 95%;
    margin: 0 auto;
}

.public-menu-button{
    padding-bottom: 2%;
    width: 95%;
    margin: 0 auto;
}

.public-menu-nav-container{
    width: 75%;
    float: right;

}

.public-menu-nav-title{
    color: #00B4ED;
    font-size:125%!important;
    padding-bottom: 30px;
    font-weight: 700;
}

.public-menu-nav-seperateline{
    padding-top: 20px;
    padding-bottom: 20px;
}

.public-menu-nav .ui-commandlink{
    font-size: 115%!important;
    color:white;
}

.public-menu-nav:hover{
    border-bottom: 1px solid #00B4ED
}

.public-menu-nav a:hover{
    text-decoration: none;
}

.public-arrow-container{
    display: inline-block;
    vertical-align: top;
    min-width: 30px;
}

.public-arrow{
    vertical-align: top;
    color: #DEE461;
    font-weight: 900;
    display: none;
}

.public-menu-active{
    display: inline-block;
}

.public-menu-button .ui-button {
    width: 100%;
}

.public-menu-text{
    bottom:5vh;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align:center;
    width: 95%;
    margin: 0 auto;
    color: grey;
}

.public-content-container{
    min-height: 100vh;
    width: 75%;
    position: absolute;
    left: 25%;
}

.public-content{
    position: relative;
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
}

.mainContainer{
    height: 100%;
}

.public-title{
    padding-top: 75px;
    width: 71.25%;
    position: fixed;
    top:0;
    min-height: 10vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 99;
}

.public-title-main {

    font-size: 3em;
    font-weight: bold;
}

.public-title-sub{
    font-size: 1em;
    z-index: 120;
}

.public-main-contents-containner{
    position: absolute;
    top:15vh;
    width: 100%;
}

.public-guide{
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 10vh;
    width: 100%;

}

.public-main-contents{
    width: 100%;
}

.public-main-contents-io{
    position: relative;
    width: 100%;
    padding: 2%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F3;
}

.public-main-contents-io-title{
    position: absolute;
    top:25px;
    min-height: 30px;
    font-weight: 600;
}

.public-main-contents-io-content{
    padding-top: 30px;
}

.public-main-contents-button-left{
    padding: 0.5%;
    float:left;
    min-width: 15%;

}

.public-main-contents-button-right{
    padding: 0.5%;
    float:right;
    min-width: 25%;

}

.data_field_title{
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 0.5%;
    font-weight: bold;

}

.mainContainer .ui-steps .ui-steps-item{
    width: 16.6%;
}

.mainContainer .occpermit .ui-steps .ui-steps-item{
    width: 14.285%;
}

.mainContainer .ui-steps.custom .ui-steps-item.complete .ui-menuitem-link .ui-steps-number {
    background-color: #00B4ED;
    color: #FFF;
}

.mainContainer .ui-steps-title{
    font-weight: 700;
    font-size: 90%;
    color: #333;
}


.mainContainer .ui-steps .ui-steps-title{
    white-space:normal;
}

.mainContainer .ui-steps::before{
    top: 55px;
}

.public-menu-toggler-button{
    position: fixed;
    top:0;
    right: 0;
    font-size: 2.5em; 
    padding-right: 2.5%;
    padding-top: 1.5%;
    cursor: pointer;
    z-index: 102;
    display: none;
}

.public-menu-toggler-button-white i{
    color: white;
}

.public-login-logo{
    padding-bottom: 80px;
    width: 9%;
    min-width: 100px;
    margin: 0 auto;
}

.publi-login-container{
    margin: 0 auto;
    width:550px;
}

.publi-login-title{
    color: #2F2F2F;
    letter-spacing: 3px;
    padding-bottom: 30px;;
    font-size: 2em;
    width: 100%;
    text-align: justify;
    font-weight: bold;
    display: inline-block;
}

.public-login-button{
    font-size: 1.3em;
    width: 100%;
    padding-top: 1em;
}

.public-login-text{
    text-align: justify;
    width: 100%;
}

.public-main-contents-login{
    background-color: white;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #007AD9;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
    padding: 0.3em;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
}

.login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.login-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.login-button:hover span {
    padding-right: 25px;
}

.login-button:hover span:after {
    opacity: 1;
    right: 0;
}

.filter-box-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 3em;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.paccode{
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    padding: 15px;
    border-top: 30px;
    border-bottom: 30px;
}

.link a:link {
  color: #00B4ED;
  text-decoration: underline;
}

.link-entity{
    position: absolute;
    bottom: 0.5em;
}



@media screen and (max-device-width:640px),(max-width: 640px){
    .publi-login-container{
        margin: 0 auto;
        width:80%;
    }

    .public-title{
        position: relative;
    }

    .public-menu-container{
        position: relative;
        width: 100%;
    }


    .public-content-container{
        width: 100%;
    }

    .public-content-container{
        position: relative;
        width: 100%;
        left: 0%;
    }
    .public-menu-container{
        height: 100px;
        display: none;
    }

    .public-menu-toggler-button{
        display: block;
    }

    .public-menu-toggler-responsive{
        display: block;
        position: fixed;
        z-index: 101;
    }



}


/*code pages*/
.gridTd_code{
    border: none;
    padding: 7px;

}

.gridTd_code_inputTextarea{
    border: none;
    padding: 7px;
    width: 1100px;
}


/* ************* UI PATTERN FOR DATA LABEL AND VALUE ***************/

.data-container{
    padding-top: 10px;
    padding-bottom: 20px;
}

.data_table_header{
    font-weight: bold;
    font-size: 20px;
}

.data_edit_button{
    min-width: 120px;
    float:right;
    padding: 5px;
}

.data_field{
    border-bottom: 1px solid #CECECE; 
    min-height: 80px;
}
.data_container_nested_public{
    width: 100%;
    min-height: 100px;
}

.data_field_card{
    background-color: #E6E7E8;
    text-align: center;
    text-align: justify;
    min-height: 80px;
    padding: 5%;
    margin: 4%;
    min-height: 45vh;
}

.data_field_card_title{
    font-size: 1.5em;
    font-weight: bold;
    
}

.data_field_label{
    font-weight: 500;
    padding-bottom: 5px;
    display: block;
}

.data_field_value{
    color: #6C6D70;
    display: block;
    width: 100%;
}

.gray_button .ui-button{
    background-color: #6C6D70;
    border:1px solid #6C6D70;
}

.red_button .ui-button{
    background-color: darkred;
    color: white;
    border:1px solid #6C6D70;
}





/* **************** RESTRICT PAGE -- SEARCH PAGE *******************/

.list-data-container{
    min-height: 100vh;
}

.object-data-container{

}

.list-data-container .ui-selectbooleanbutton, 
.list-data-container .ui-buttonset:not(.ui-splitbutton)>.ui-button {
    width: 25%;
    border: 1px white solid;
    font-size: 1.1em!important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-data-container .ui-selectbooleanbutton.ui-state-active, 
.list-data-container .ui-buttonset:not(.ui-splitbutton)>.ui-button.ui-state-active{
    background-color: #99C221;
    border:1px solid #99C221;
}

.list-data-container .ui-panel .ui-panel-content{
    background-color: #EEEEEE;
}

.restrict-main-list-mode-button{
    width: 100%;
    min-height: 50px;
}
.restrict-main-object-title{
    min-height: 50px;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-weight: 700;
    color: #6C6D70;
    padding: 5px;
}

.data_container_nested_restrict{
    width: 100%;
    padding-top: 15px;
    margin-bottom: 20px;
}

.data_container_nested_restrict_report{
    width: 100%;
    padding-top: 5px;
    margin-bottom: 5px;
}

.restrict-main-contents-io-title{
    font-weight: 700;
    padding-bottom: 10px;
}

.restrict-main-contents-io-link{
    display: inline-block; 
    float: right;
    font-weight: 200;
    border-bottom: 1px solid #6C6D70;
}

.restrict-main-contents-io-link a{
    color: #6C6D70;
}

.restrict-main-contents-io-content{
    min-height: 40px;
}

.restrict-main-contents-io-filter{
    display: inline-block;
    padding-top:15px;
}
.restrict-main-contents-io-filter .checkbox{

    padding-right: 10px;
}

.restrict-main-contents-io-button{
    width: 150px;
    float: right;
    margin-left: 5px;
}

.restrict-data-field{
    margin-top: 5px;
    margin-bottom: 10px;
}

.restrict-data-field_report{
    margin-top: 3px;
    margin-bottom: 3px;
}

.restrict-data-field-label-inline{
    font-weight: 700;
    display: inline-block;
    min-width:180px;
}

.restrict-data-field-value-inline{
    color: #6C6D70;
    display: inline-block;
    vertical-align: top;
}

.restrict-data-field-multi-line{
    margin-top: 5px;
    margin-bottom: 10px;
}

.restrict-data-field-multi-line .restrict-data-field-label-inline{
    display: block;
}
.restrict-data-field-multi-line .restrict-data-field-value-inline{
    display: block;

}


.restrict-data-field-label-vertical{
    min-height: 30px;
    font-weight: 700;
    border-bottom: 1px solid #CECECE;
}

.restrict-data-field-value-vertical{
    padding-top: 15px;
    display: block;
}

/** RULES MADE FOR EDITABLE TABLES

    These rules are made for tables with editable rows. The rows used to turn blue, and that was hard to read. Now they turn not blue. Please put this rule wherever it should be.
**/

body .ui-datatable.editTable .ui-datatable-data>tr.ui-state-highlight {
 border:1px solid #c8c8c8;
 background-color:#cde162;
 color:#262626;
 cursor:default
}