/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2017, 7:53:01 AM
    Author     : cedba
*/

/* colors
COG green: #7fb337
COG red: #a0270f
COG blue: #2d66cd
COG yellow: #e3b73d


*/

@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body{
    font-family: 'roboto', sans-serif;
    background-color: #eeeeee;
}

h1{
    font-family: 'roboto', sans-serif;
    font-size: 1.5em;
    color: #1a237e;
    
}

h2{
    font-size: 1.2em;
    color: #534bae;
}

h3{
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #534bae;
    
    
}

.plainText{
    font-weight: normal;
    
}

div.mainContainer{
    font-family: 'roboto', sans-serif;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    box-shadow: 10px 10px 5px gray; 
}

div.footer{
    font-family: 'roboto', sans-serif;
    color: grey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}



p.note{
    font-size: .9em;
    font-style: italic;
}

img.headerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



div.headerLinkCont{
    display: inline-block;
    float: left;
    clear: none;
    /*width: 100px;*/
    height: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    
    
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.header{
    margin-top: 15px;
    margin-bottom: 15px;
}



div.header{
    /*height:300px; */
    width: 1030px;
    clear:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#top{
    /*height:300px; */
    width: 1030px;
    clear:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.headerLinks{
    display: block;
    height:40px;
    width: 100%;
    /*height: 100px;*/
    margin: 10px 10px 10px 10px;
}


span.bold {
    font-weight: bold;
}

div.ccBox{
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-weight: bold;
    background-color: green;
    border-color: darkgray;
    border-width: 1px;
    text-align: center;
    padding: 15px;
    border-top: 30px;
    border-bottom: 30px;
}

div.sessionInfo{
    display: block;
    background-color: lightsteelblue;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
    
}


/* ****************** TABLE STYLES ********************/

table.primeDataTable td{
    font-size: small;
}

table.borders{
    
}

table.borders {
    border-collapse: collapse;
}

table.borders th, td {
    border: 1px solid black;
    padding: 5px;
}

table.borders th{
    background-color: lightblue;
}

tr.resolved{
    background-color: lightgreen;
    
}

tr.pending{
    background-color: lightyellow;
    
}

tr.pastdeadline{
    background-color: lightpink;
}

tr.reinspect{
    background-color: lightpink
}

td.gridTd {
    border: none;
}

td.gridFooter {
    border: none;
    
}

/* ------------------------------------- */


a.headerLink:link {
    color: #80b439;
    text-decoration: none;
}

a.headerLink:hover {
    color: black;
    text-decoration: none;
}

a.headerLink:visited {
    color: #80b439;
    text-decoration: none; 
}

a.headerLinks {
    display: inline-block;
    float: left;
}


div.headerLink a:before, a:visited{
    color: green;

    
}

p.footer{
    font-style: italic;
    size: 0.8em;
    color: #e3b73d;
}

/* UI Controls Styling*/

.inputText{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commandButton{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
        
}

a.outputLink{
    display: block;
    margin-bottom: 10px;
}

.buttonOwnLine{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    clear: left;
/*    color: blue;
    background-color: green;*/
}

.textArea{
    width: 400px;
    margin-bottom: 10px;
}

select.selectOneListbox{   
    margin-bottom: 10px;
}

span.ui-label{
    display: block;
    clear: left;
    margin-bottom: 10px;
    font-weight: bold;
    
}

input.selectBooleanCheckbox{
    display: inline-block;
    float: left;
}

div.checkBoxLabel{
    display: block;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
}



/* Error Styling */

.msgWarn{
    color: darkgoldenrod;
}

.msgInfo{
    color: blue;
}

.msgFatal{
    color: orange;
}

.msgError{
    color: orangered;
}

/* Property Profile Styling */

table.cases{
    border-collapse: collapse;
    border: 1px solid black;
    
}

table.cases th{
    text-align: left;
    border: 1px solid blue;
    background-color: green;
}

table.cases td{
    text-align: left;
    border: 1px solid blue;
    padding: 5px;
}

tr.caseClosed{
    background-color: #66ff66;
}

tr.caseOpen{
    background-color: #9999ff;
}


/* fieldset */

.ui-fieldset-toggleable .ui-fieldset-legend{
    background-color: white;
    font-weight: normal;
    
}

/* this styling is for use w/ command button on codeSourceManage.xhtml */
.manButton{
    margin-bottom: 15px;
}

/* formatting command buttons completeCodeSourceList & codeSourceTable on codeSourceManage.xhtml  */
.buttonOwnLine1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* formatting command buttons for inspectableCodeElementManage.xhtml */
.iceButton{
    margin-top: 10px;
}